<?xml version="1.0" encoding="utf-8" ?>
<fantasy xmlns="http://fantasy.net/config"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <idFactory type="Default" />
  <network inner="TCP" maxMessageSize="2048" />
  <session idleTimeout="30000" idleInterval="5000" />
  <controlCenter enabled="false"
                 url="http://127.0.0.1:5277"
                 fallbackToLocal="true"
                 heartbeatIntervalSeconds="5"
                 leaseSeconds="15" />
  <server>
    <machines>
      <machine id="1"
               outerIP="127.0.0.1"
               outerBindIP="0.0.0.0"
               innerBindIP="127.0.0.1" />
    </machines>
    <processes>
      <process id="1" namespaceId="1" machineId="1" startupGroup="1" />
    </processes>
    <worlds>
      <world id="1" namespaceId="1" groupId="1" worldName="Acceptance">
        <database dbType="MongoDB" dbName="acceptance" isDefault="true" dbConnection="" />
      </world>
    </worlds>
    <scenes>
      <scene id="1001"
             processConfigId="1"
             worldConfigId="1"
             sceneRuntimeMode="MainThread"
             sceneTypeString="BattleGate"
             networkProtocol="KCP"
             outerPort="22000"
             innerPort="22100" />
    </scenes>
  </server>
</fantasy>
